TestAccelerometer/TestAccelerometer/Proxy/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:8080/service?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:8080/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/service?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReceiveData_ReceiveData_InputMessage">
    <wsdl:part name="parameters" element="ReceiveData" />
  </wsdl:message>
  <wsdl:message name="IReceiveData_ReceiveData_OutputMessage">
    <wsdl:part name="parameters" element="ReceiveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiveData_ReceivePoint_InputMessage">
    <wsdl:part name="parameters" element="ReceivePoint" />
  </wsdl:message>
  <wsdl:message name="IReceiveData_ReceivePoint_OutputMessage">
    <wsdl:part name="parameters" element="ReceivePointResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiveData_ReceivePoints_InputMessage">
    <wsdl:part name="parameters" element="ReceivePoints" />
  </wsdl:message>
  <wsdl:message name="IReceiveData_ReceivePoints_OutputMessage">
    <wsdl:part name="parameters" element="ReceivePointsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReceiveData">
    <wsdl:operation name="ReceiveData">
      <wsdl:input wsaw:Action="urn:IReceiveData/ReceiveData" message="IReceiveData_ReceiveData_InputMessage" />
      <wsdl:output wsaw:Action="urn:IReceiveData/ReceiveDataResponse" message="IReceiveData_ReceiveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePoint">
      <wsdl:input wsaw:Action="urn:IReceiveData/ReceivePoint" message="IReceiveData_ReceivePoint_InputMessage" />
      <wsdl:output wsaw:Action="urn:IReceiveData/ReceivePointResponse" message="IReceiveData_ReceivePoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePoints">
      <wsdl:input wsaw:Action="urn:IReceiveData/ReceivePoints" message="IReceiveData_ReceivePoints_InputMessage" />
      <wsdl:output wsaw:Action="urn:IReceiveData/ReceivePointsResponse" message="IReceiveData_ReceivePoints_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>